<title>Cobalt</title>

<meta charset="utf-8" />
<meta http-equiv="x-ua-compatible" content="ie=edge,chrome=1" />
<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1" />
<meta name="robots" content="index, follow">
<meta name="description" content="Empowering developers to build applications and services that use publicly available data provided by the University of Toronto.">
<meta name="keywords" content="cobalt, uoft, university of toronto, toronto, api, uoft api" />

<link rel="shortcut icon" href="./assets/img/favicon.png" />

<link rel="stylesheet" type="text/css" href="assets/css/grid.css" />
<link rel="stylesheet" type="text/css" href="assets/css/main.css" />
<link rel="stylesheet" type="text/css" href="assets/css/font/gravity/gravity.css" />
<link rel="stylesheet" type="text/css" href="assets/css/font/source-sans/source-sans.css" />

<script src="assets/js/jquery.js"></script>
<script src="assets/js/main.js"></script>
