<div class="main">
  <div class="header grid-container">
    <div class="grid-30 logo">
      Cobalt
    </div>
    <div class="grid-15 sub-logo">
      TEST BUILD <i>0.0a4</i>
    </div>
    <div class="grid-55 navigation">
      <ul class="nav">
        <li><a href="/docs">Documentation</a></li>
        <li class="nav-spacer"></li>
        <% if(user) { %>
          <li><a href="/dashboard">Dashboard</a></li>
          <li><a href="/logout">Log out</a></li>
        <% } else { %>
          <li><a href="/login">Log in</a></li>
          <li><a href="/signup">Sign up</a></li>
        <% } %>
      </ul>
    </div>
  </div>
  <div class="splash grid-container">
    <div class="grid-100">
      <div class="description">
        Utilize publicly available data from the <b>University of Toronto</b> with ease.
      </div>
      <div class="signup-button">
        Sign up for free
      </div>
    </div>
  </div>
</div>
