{
  "parser": "babel-eslint",
  "env": {
    "node": true
  },
  "rules": {
    "strict": [2, "never"],
    "indent": [2, 2, "SwitchCase": 1],
    "semi": [2, "never"],
    "quotes": [2, "single"],
    "no-shadow": 0,
    "no-unused-vars": [2, {"vars": "all", "args": "none"}],
    "new-cap": [2, {"capIsNew": false}],
    "camelcase": [2, {"properties": "never"}],
    "no-underscore-dangle": 0,
    "handle-callback-err": 0,
    "curly": [2, "multi-line"]
  }
}
