{
  "parser": "babel-eslint",
  "env": {
  	"node": true
  },
  "rules": {
    "strict": [2, "never"],
    "indent": [2, 2],
    "semi": [2, "never"],
    "quotes": [2, "single"],
    "no-unused-vars": [2, {"vars": "all", "args": "none"}],
    "new-cap": [2, {"capIsNew": false}]
  }
}