<html>
  <head>
    <% include ../partials/head %>
  </head>
  <header>
    <% include ../partials/header-index %>
  </header>
  <body>
    <div class="grid-container content">
      <div class="grid-65">

        <div class="first-sentence">
          We are an <b>open source organization</b> commited to providing APIs for developers that supply comprehensive data from various University of Toronto websites.
        </div>

        Each API built on Cobalt is automatically curated through a means of smart and efficient web scrapers.

        <br /><br />

        By signing up, you can utilize the APIs for your own applications.

        <br /><br />

        If you are interested in checking out how Cobalt APIs are created, or would like to contribute towards furthering the capabilities of Cobalt, find us on <a href="https://github.com/cobalt-io">Github</a>.

        <br /> <br />

      </div>
      <div class="grid-35">

        <div class="api-box">
          <b>Courses</b> <br />
          Sed vitae sollicitudin erat. Cras id mauris at sem molestie suscipit. Maecenas massa nunc.
        </div>

        <div class="api-box">
          <b>Buildings</b> <br />
          Praesent in tincidunt augue, eu feugiat odio. Vestibulum ante ipsum primis in turpis duis.
        </div>

        <div class="api-box">
          <b>Exams</b> <br />
          Proin lacinia vitae metus eget volutpat. Praesent sed ipsum posuere, iaculis tortor metus.
        </div>

      </div>
    </div>
  </body>
  <footer>
    <% include ../partials/footer %>
  </footer>
</html>
