<html>
  <head>
    <% include ../partials/head %>
  </head>
  <header>
    <% include ../partials/header-index %>
  </header>
  <body>
    <div class="grid-container content">
      <div class="grid-33">
        <div class="api-box">
          <b>Courses</b> <br />
          Undergraduate course API with updated calendar and timetable information.
        </div>
      </div>
      <div class="grid-33">
        <div class="api-box">
          <b>Buildings</b> <br />
          Campus building API with geographic location information and bounding polygons.
        </div>
      </div>
      <div class="grid-33">
        <div class="api-box">
          <b>Food</b> <br />
          Food vendor API with building locations, dietary information, and complete store hours.
        </div>
      </div>
    </div>
    <div class="content-box">
      <div class="grid-container">
        <div class="grid-60">
          <div class="content-title">
            Why Cobalt
          </div>
          By signing up, you can utilize the APIs for your own applications and services, empowering you to develop robust tools to aid the University of Toronto community.
          <br /><br />
          Upon registration, you'll be able to generate a unique API key that will enable you to use any of the available APIs immediately.
          <br /><br />
          To learn more about how to use Cobalt in your software, take a look at our <a href="#">Getting Started<a> guide.
          <br /><br />
        </div>
        <div class="grid-40">
          <div class="content-title">
            Want to contribute?
          </div>
          Cobalt is a project *insert Faculty of CS affiliation stuff here*. If you'd like to contribute, *how to contact us*. Have a look at *insert github*.
        </div>
      </div>
    </div>
  </body>
  <footer>
    <% include ../partials/footer %>
  </footer>
</html>
