<html>
  <head>
    <% include ../partials/head %>
  </head>
  <header>
    <% include ../partials/header-index %>
  </header>
  <body>
    <div class="first-sentence">
      <div class="grid-container">
        <div class-"grid-100">
          Cobalt is an open source project that serves web APIs for public University of Toronto data.
        </div>
      </div>
    </div>
    <div class="grid-container content">
      <div class="grid-33">
        <div class="api-box">
          <b>Courses</b> <br />
          Undergraduate course API with updated calendar and timetable information.
        </div>
      </div>
      <div class="grid-33">
        <div class="api-box">
          <b>Buildings</b> <br />
          Campus building API with geographic location information and bounding polygons.
        </div>
      </div>
      <div class="grid-33">
        <div class="api-box">
          <b>Food</b> <br />
          Food vendor API with building locations, dietary information, and complete store hours.
        </div>
      </div>
      <!-- div class="grid-100">
        

        

        By signing up, you can utilize the APIs for your own applications and services.

        <br /><br />

        If you are interested in checking out how Cobalt works internally, or would like to contribute towards furthering the capabilities of Cobalt, find us on <a href="https://github.com/cobalt-io">Github</a>.

        <br /> <br />

      </div -->
    </div>
  </body>
  <footer>
    <% include ../partials/footer %>
  </footer>
</html>
