<html>
  <head>
    <% include ../partials/head %>
  </head>
  <header>
    <% include ../partials/header %>
  </header>
  <body>
    <div class="sub-title">
      <div class="grid-container">
        <div class="grid-100">
          Log in
        </div>
      </div>
    </div>
    <div class="grid-container content login">
      <div class="grid-100">
        <% if (locals.errors) { %>
          <br />
          <ul>
          <% locals.errors.forEach(function(name){ %>
            <li><%= name %></li>
          <% }) %>
          </ul>
        <% } %>
        <form action="/user/login" method="post">
          <input type="text" class="login-text" name="username" placeholder="Email" />
          <input type="password" class="login-text" name="password" placeholder="Password" />
          <input type="submit" class="login-button" value="Log in" />
        </form>
      </div>
    </div>
  </body>
  <footer>
    <% include ../partials/footer %>
  </footer>
</html>
